.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 20px; 
  }
  
  .hotelCards {
    width: 20vw;
    height: 500px; 
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
  }
  
